In [50]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017")
mydb = myclient["Data_Tracker"]


mycol1 = mydb["Products"]

for x in mycol1.find():
    print(x)

{'_id': ObjectId('5e57761a5c1cdb3fd40709eb'), 'Type': 'Chips', 'Products': 'Doritos', 'Prices': '15', 'Quantity': 20}
{'_id': ObjectId('5e57761a5c1cdb3fd40709ec'), 'Type': '', 'Products': 'Lays', 'Prices': '12', 'Quantity': 15}
{'_id': ObjectId('5e57761a5c1cdb3fd40709ed'), 'Type': '', 'Products': 'NikNaks', 'Prices': '5', 'Quantity': 30}
{'_id': ObjectId('5e57761a5c1cdb3fd40709ee'), 'Type': '', 'Products': 'Simba', 'Prices': '18', 'Quantity': 18}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f0'), 'Type': 'Cooldrink', 'Products': 'Fanta', 'Prices': '11', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f1'), 'Type': '', 'Products': 'Sprite', 'Prices': '14', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f2'), 'Type': '', 'Products': 'Jive', 'Prices': '10', 'Quantity': 20}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f3'), 'Type': '', 'Products': 'Score', 'Prices': '10', 'Quantity': 15}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f5'), 'Type': 'Chocolate', 'Products': ' Ps', 'Prices': '8', 'Quantity': 20}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f6'), 'Type': '', 'Products': 'KitKat', 'Prices': '10', 'Quantity': 15}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f7'), 'Type': '', 'Products': 'Bar-one', 'Prices': '13', 'Quantity': 5}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f8'), 'Type': '', 'Products': 'Tex', 'Prices': '7', 'Quantity': 25}
{'_id': ObjectId('5e57761a5c1cdb3fd40709ff'), 'Type': 'Fruit', 'Products': 'Guava', 'Prices': '10', 'Quantity': 20}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a00'), 'Type': '', 'Products': 'Peach', 'Prices': '12', 'Quantity': 15}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a01'), 'Type': '', 'Products': 'Pear', 'Prices': '8', 'Quantity': 30}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a02'), 'Type': '', 'Products': 'Banana', 'Prices': '15', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a04'), 'Type': 'Cupcakes', 'Products': 'Vanilla', 'Prices': '20', 'Quantity': 20}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a05'), 'Type': '', 'Products': 'Chocmint', 'Prices': '17', 'Quantity': 20}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a06'), 'Type': '', 'Products': 'Browny', 'Prices': '22', 'Quantity': 15}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a07'), 'Type': '', 'Products': 'Chocolate', 'Prices': '20', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a09'), 'Type': 'Veggies', 'Products': 'Potatoes', 'Prices': '25', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a0a'), 'Type': '', 'Products': 'Spinach', 'Prices': '15', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a0b'), 'Type': '', 'Products': 'Onion', 'Prices': '10', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a0c'), 'Type': '', 'Products': 'Butternut', 'Prices': '12', 'Quantity': 10}

In [43]:
mycol = mydb["Top 3"]

mylist = [
  { "_id": 1, "Type": "Chips","Product":"Niknaks","Price":5,"Quantity":30},
  { "_id": 2, "Type": "Chocolate","Product":"Tex","Price":7,"Quantity":25},
  { "_id": 3, "Type": "Cooldrink","Product":"Jive","Price":10,"Quantity":20}]

x = mycol.insert_many(mylist)

for x in mycol.find():
    print(x)

{'_id': 1, 'Type': 'Chips', 'Product': 'Niknaks', 'Price': 5, 'Quantity': 30}
{'_id': 2, 'Type': 'Chocolate', 'Product': 'Tex', 'Price': 7, 'Quantity': 25}
{'_id': 3, 'Type': 'Cooldrink', 'Product': 'Jive', 'Price': 10, 'Quantity': 20}

In [44]:
mylist = [
  { "_id": 4, "Type": "Pies","Product":"Steak","Price":18,"Quantity":20},  #adding the least 3 items on my list                 
  { "_id": 5, "Type": "Fruit","Product":"Pear","Price":8,"Quantity":30},
  { "_id": 6, "Type": "Cupcakes","Product":"Vanilla","Price":20,"Quantity":20}]

x = mycol.insert_many(mylist)

for x in mycol.find():
    print(x)

{'_id': 1, 'Type': 'Chips', 'Product': 'Niknaks', 'Price': 5, 'Quantity': 30}
{'_id': 2, 'Type': 'Chocolate', 'Product': 'Tex', 'Price': 7, 'Quantity': 25}
{'_id': 3, 'Type': 'Cooldrink', 'Product': 'Jive', 'Price': 10, 'Quantity': 20}
{'_id': 4, 'Type': 'Pies', 'Product': 'Steak', 'Price': 18, 'Quantity': 20}
{'_id': 5, 'Type': 'Fruit', 'Product': 'Pear', 'Price': 8, 'Quantity': 30}
{'_id': 6, 'Type': 'Cupcakes', 'Product': 'Vanilla', 'Price': 20, 'Quantity': 20}

In [22]:
mydoc = mycol1.find().sort("Type", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5e57761a5c1cdb3fd4070a09'), 'Type': 'Veggies', 'Products': 'Potatoes', 'Prices': '25', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd40709fa'), 'Type': 'Pies', 'Products': 'Chicken', 'Prices': '15', 'Quantity': 1}
{'_id': ObjectId('5e57761a5c1cdb3fd40709ff'), 'Type': 'Fruit', 'Products': 'Guava', 'Prices': '10', 'Quantity': 20}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a04'), 'Type': 'Cupcakes', 'Products': 'Vanilla', 'Prices': '20', 'Quantity': 20}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f0'), 'Type': 'Cooldrink', 'Products': 'Fanta', 'Prices': '11', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f5'), 'Type': 'Chocolate', 'Products': ' Ps', 'Prices': '8', 'Quantity': 20}
{'_id': ObjectId('5e57761a5c1cdb3fd40709eb'), 'Type': 'Chips', 'Products': 'Doritos', 'Prices': '15', 'Quantity': 20}
{'_id': ObjectId('5e57761a5c1cdb3fd40709ec'), 'Type': '', 'Products': 'Lays', 'Prices': '12', 'Quantity': 15}
{'_id': ObjectId('5e57761a5c1cdb3fd40709ed'), 'Type': '', 'Products': 'NikNaks', 'Prices': '5', 'Quantity': 30}
{'_id': ObjectId('5e57761a5c1cdb3fd40709ee'), 'Type': '', 'Products': 'Simba', 'Prices': '18', 'Quantity': 18}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f1'), 'Type': '', 'Products': 'Sprite', 'Prices': '14', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f2'), 'Type': '', 'Products': 'Jive', 'Prices': '10', 'Quantity': 20}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f3'), 'Type': '', 'Products': 'Score', 'Prices': '10', 'Quantity': 15}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f6'), 'Type': '', 'Products': 'KitKat', 'Prices': '10', 'Quantity': 15}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f7'), 'Type': '', 'Products': 'Bar-one', 'Prices': '13', 'Quantity': 5}
{'_id': ObjectId('5e57761a5c1cdb3fd40709f8'), 'Type': '', 'Products': 'Tex', 'Prices': '7', 'Quantity': 25}
{'_id': ObjectId('5e57761a5c1cdb3fd40709fb'), 'Type': '', 'Products': 'Burger', 'Prices': '20', 'Quantity': 2}
{'_id': ObjectId('5e57761a5c1cdb3fd40709fc'), 'Type': '', 'Products': 'steak', 'Prices': '18', 'Quantity': 3}
{'_id': ObjectId('5e57761a5c1cdb3fd40709fd'), 'Type': '', 'Products': 'pepper', 'Prices': '15', 'Quantity': 4}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a00'), 'Type': '', 'Products': 'Peach', 'Prices': '12', 'Quantity': 15}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a01'), 'Type': '', 'Products': 'Pear', 'Prices': '8', 'Quantity': 30}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a02'), 'Type': '', 'Products': 'Banana', 'Prices': '15', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a05'), 'Type': '', 'Products': 'Chocmint', 'Prices': '17', 'Quantity': 20}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a06'), 'Type': '', 'Products': 'Browny', 'Prices': '22', 'Quantity': 15}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a07'), 'Type': '', 'Products': 'Chocolate', 'Prices': '20', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a0a'), 'Type': '', 'Products': 'Spinach', 'Prices': '15', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a0b'), 'Type': '', 'Products': 'Onion', 'Prices': '10', 'Quantity': 10}
{'_id': ObjectId('5e57761a5c1cdb3fd4070a0c'), 'Type': '', 'Products': 'Butternut', 'Prices': '12', 'Quantity': 10}

In [45]:
myquery = { "Type": "Pies" }

mycol.delete_one(myquery)

In [46]:
for x in mycol.find():
    print(x)

{'_id': 1, 'Type': 'Chips', 'Product': 'Niknaks', 'Price': 5, 'Quantity': 30}
{'_id': 2, 'Type': 'Chocolate', 'Product': 'Tex', 'Price': 7, 'Quantity': 25}
{'_id': 3, 'Type': 'Cooldrink', 'Product': 'Jive', 'Price': 10, 'Quantity': 20}
{'_id': 5, 'Type': 'Fruit', 'Product': 'Pear', 'Price': 8, 'Quantity': 30}
{'_id': 6, 'Type': 'Cupcakes', 'Product': 'Vanilla', 'Price': 20, 'Quantity': 20}

In [47]:
myquery = { "Type": "Cupcakes" }

mycol.delete_one(myquery)

In [48]:
for x in mycol.find():
    print(x)

{'_id': 1, 'Type': 'Chips', 'Product': 'Niknaks', 'Price': 5, 'Quantity': 30}
{'_id': 2, 'Type': 'Chocolate', 'Product': 'Tex', 'Price': 7, 'Quantity': 25}
{'_id': 3, 'Type': 'Cooldrink', 'Product': 'Jive', 'Price': 10, 'Quantity': 20}
{'_id': 5, 'Type': 'Fruit', 'Product': 'Pear', 'Price': 8, 'Quantity': 30}

In [49]:
myquery = { "Type": "Cooldrink" }
newvalues = { "$set": { "Price": 11 } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': 1, 'Type': 'Chips', 'Product': 'Niknaks', 'Price': 5, 'Quantity': 30}
{'_id': 2, 'Type': 'Chocolate', 'Product': 'Tex', 'Price': 7, 'Quantity': 25}
{'_id': 3, 'Type': 'Cooldrink', 'Product': 'Jive', 'Price': 11, 'Quantity': 20}
{'_id': 5, 'Type': 'Fruit', 'Product': 'Pear', 'Price': 8, 'Quantity': 30}

In [23]:
print(mycol1.find_one(sort=[("Quantity", 1)])["Quantity"])

1

In [28]:
x= mycol1.find({"Quantity" : 1})
for x in mycol1.find({"Quantity" : 1}):
    print(x)
    least_5 = mydb["Least Products"]
    mymy = x

    x = least_5.insert_one(mymy)

{'_id': ObjectId('5e57761a5c1cdb3fd40709fa'), 'Type': 'Pies', 'Products': 'Chicken', 'Prices': '15', 'Quantity': 1}

In [29]:
myquery = { "Products": "Chicken" }

mycol1.delete_one(myquery)

In [30]:
print(mycol1.find_one(sort=[("Quantity", 1)])["Quantity"])

2

In [31]:
x= mycol1.find({"Quantity" : 2})
for x in mycol1.find({"Quantity" : 2}):
    print(x)
    least_5 = mydb["Least Products"]
    mymy = x

    x = least_5.insert_one(mymy)

{'_id': ObjectId('5e57761a5c1cdb3fd40709fb'), 'Type': '', 'Products': 'Burger', 'Prices': '20', 'Quantity': 2}

In [32]:
myquery = { "Products": "Burger" }

mycol1.delete_one(myquery)

In [33]:
print(mycol1.find_one(sort=[("Quantity", 1)])["Quantity"])

3

In [34]:
x= mycol1.find({"Quantity" : 3})
for x in mycol1.find({"Quantity" : 3}):
    print(x)
    least_5 = mydb["Least Products"]
    mymy = x

    x = least_5.insert_one(mymy)

{'_id': ObjectId('5e57761a5c1cdb3fd40709fc'), 'Type': '', 'Products': 'steak', 'Prices': '18', 'Quantity': 3}

In [36]:
myquery = { "Products": "steak" }

mycol1.delete_one(myquery)

In [37]:
print(mycol1.find_one(sort=[("Quantity", 1)])["Quantity"])

4

In [38]:
x= mycol1.find({"Quantity" : 4})
for x in mycol1.find({"Quantity" : 4}):
    print(x)
    least_5 = mydb["Least Products"]
    mymy = x

    x = least_5.insert_one(mymy)

{'_id': ObjectId('5e57761a5c1cdb3fd40709fd'), 'Type': '', 'Products': 'pepper', 'Prices': '15', 'Quantity': 4}

In [39]:
myquery = { "Products": "pepper" }

mycol1.delete_one(myquery)

In [40]:
print(mycol1.find_one(sort=[("Quantity", 1)])["Quantity"])

5

In [42]:
x= mycol1.find({"Quantity" : 5})
for x in mycol1.find({"Quantity" : 5}):
    print(x)
    least_5 = mydb["Least Products"]
    mymy = x

    x = least_5.insert_one(mymy)

{'_id': ObjectId('5e57761a5c1cdb3fd40709f7'), 'Type': '', 'Products': 'Bar-one', 'Prices': '13', 'Quantity': 5}